<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Gaming Titans -The Gaming Society of GTBIT</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content=" gaming society" name="keywords">
    <meta content="gaming society of gtbit/ipu" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Jost:wght@500;600;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style_extra.css">
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="51">
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0" id="home">
            <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
                <a href="" class="navbar-brand p-0">
                    <h1 class="m-0">Gaming Titans</h1>
                    <img src="/static/games/titans logo.png" alt="Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav mx-auto py-0">
                        <a href="/" class="nav-item nav-link active">Home</a>
                        <a href="#about" class="nav-item nav-link">About</a>
                        <a href="#feature" class="nav-item nav-link">Feature</a>
                        <a href="#pricing" class="nav-item nav-link">Pricing</a>
                        <a href="#review" class="nav-item nav-link">Review</a>
                        <a href="/contact" class="nav-item nav-link">Contact</a>
                        <a href="/core-team" class="nav-item nav-link">Core Team</a>
                        <a href="/static/BROCHURE.pdf" class="nav-item nav-link" target="_blank">Brochure</a>
                    </div>
                    <a href="/contact" class="btn btn-primary-gradient rounded-pill py-2 px-4 ms-3 d-none d-lg-block">Join us now</a>
                </div>
            </nav>

            <div class="container-xxl bg-primary hero-header">
                <div class="container px-lg-5">
                    <div class="row g-5">
                        <div class="col-lg-8 text-center text-lg-start">
                            <h1 class="text-white mb-4 animated slideInDown">Gaming Titans</h1>
                            <p class="text-white pb-3 animated slideInDown">The First Gaming Society Of Guru Tegh Bahadur Institute Of Technology (GTBIT)</p>
                            <a href="/read"
                                class="btn btn-primary-gradient py-sm-3 px-4 px-sm-5 rounded-pill me-3 animated slideInLeft">Read
                                More</a>
                            <a href="/contact"
                                class="btn btn-secondary-gradient py-sm-3 px-4 px-sm-5 rounded-pill animated slideInRight">Contact
                                Us</a>
                        </div>
                        <div class="col-lg-4 d-flex justify-content-center justify-content-lg-end wow fadeInUp"
                            data-wow-delay="0.3s">
                            <!-- <div class="owl-carousel screenshot-carousel">
                                <img class="img-fluid" src="img/screenshot-1.png" alt="">
                                <img class="img-fluid" src="img/screenshot-2.png" alt="">
                                <img class="img-fluid" src="img/screenshot-3.png" alt="">
                                <img class="img-fluid" src="img/screenshot-4.png" alt="">
                                <img class="img-fluid" src="img/screenshot-5.png" alt="">
                            </div> -->
                            <div class="owl-carousel screenshot-carousel">
                                <img class="img-fluid" src="/static/gtbit/director2.jpg" alt="director mam">
                                <img class="img-fluid" src="/static/gtbit/gtbit home.jpg" alt="campus">
                                <img class="img-fluid" src="/static/gtbit/gtbit home1.jpg" alt="home">
                                <img class="img-fluid" src="/static/gtbit/guests.jpg" alt="special guests">
                                <img class="img-fluid" src="/static/gtbit/GTBIT-College-Logo.webp" alt="college logo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->


      
 <!-- About Start -->
 <div class="container-xxl py-5" id="about">
    <div class="container py-5 px-lg-5">
        <div class=" align-items-center">
            <div class=" wow fadeInUp" data-wow-delay="0.1s">
                <h5 class="text-primary-gradient fw-medium">About Us</h5>
                <h1 class="mb-4">Gaming Titans</h1>
                <p class="mb-4">The Gaming Titans is the first gaming society of GTBIT , Founded on  9TH MARCH 2022</p>
                <div>

                    <span>
                       INCHARGE : MS. JASLEEN KAUR</span> 
                       <br>
                    <span>STUDENTS LEAD : HARSIMRAN SINGH , MANMEET SINGH</span> 
                </div>
                
                <div class=" mb-4">
                    <div class=" wow fadeIn" data-wow-delay="0.5s">
                        <div class="d-flex">
                            
                            <div>
                                
                                <p class="text-primary-gradient mb-0">GAMING TITANS : THE GAMING SOCIETY OF GTBIT is dedicated in providing a safe 
                                    evnvironment for members to relax and enjoy multiplayer games with like-minded people.The 
                                    society welcomes gamers of all levels to join for a stress-free, fun experience - playing 
                                    cooperative and competitive games. Apart from this we aim at providing platform to members 
                                    where they can express their gaming skills efficiently and to bring those with common interests 
                                    in gaming together. We offer the chance to meet gaming needs where you can play games and 
                                    socialize along the way, be it through mobiles, consoles or PCs.
                                    Our society not only supports gaming but also helps develop other skills like event management 
                                    , video editing , designing and other technical stuff required in a professional life.
                                    In today’s time gaming is not just a “waste of time” as people think it is, When done in a 
                                    creative and structured manner its a lot more than people can think. E-sports is a large 
                                    upcoming field which can be taken up as a career and that’s also a part of what we do here. 
                                    Playing competitions at a professional level not only encourages the members to work harder 
                                    but also teach them about the future of E-sports in India.
                                    Taking the moto,
                                    <b>

                                        “ WE WIN , WE SURVIVE!” 
                                    </b>
                                    forward and close to our heart we continue to work for the upliftment of the members of this 
                                    society and help them achieve their goals</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
        
            </div>
           
        </div>
    </div>
</div>
<!-- About End -->


        <!-- Testimonial Start -->
        <div class="container-xxl py-5" id="review">
            <div class="container py-5 px-lg-5">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="text-primary-gradient fw-medium">Core Team </h5>
                    <h1 class="mb-5">Meet Our Core Team Members</h1>
                </div>
                <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                    <div class="testimonial-item rounded p-4">
                        <div class="d-flex align-items-center mb-4">
                            <img class="img-fluid bg-white rounded flex-shrink-0 p-1" src="/static/core images/harry passport.jpg"
                                style="width: 85px; height: 85px;">
                            <div class="ms-4">
                                <h5 class="mb-1">Harsimran Singh</h5>
                                <p class="mb-1">President</p>
                                
                            </div>
                        </div>
                        <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et
                            eos. Clita erat ipsum et lorem et sit.</p>
                    </div>
                    <div class="testimonial-item rounded p-4">
                        <div class="d-flex align-items-center mb-4">
                            <img class="img-fluid bg-white rounded flex-shrink-0 p-1" src="/static/core images/manmeet passport.jpg"
                                style="width: 85px; height: 85px;">
                            <div class="ms-4">
                                <h5 class="mb-1">Manmeet Singh </h5>
                                <p class="mb-1">Vice President</p>
                               
                            </div>
                        </div>
                        <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et
                            eos. Clita erat ipsum et lorem et sit.</p>
                    </div>
                    <div class="testimonial-item rounded p-4">
                        <div class="d-flex align-items-center mb-4">
                            <img class="img-fluid bg-white rounded flex-shrink-0 p-1" src="/static/core images/aadika passport.jpg"
                                style="width: 85px; height: 85px;">
                            <div class="ms-4">
                                <h5 class="mb-1">Aadika Bhatia</h5>
                                <p class="mb-1">PR Head</p>
                                
                            </div>
                        </div>
                        <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et
                            eos. Clita erat ipsum et lorem et sit.</p>
                    </div>
                    <div class="testimonial-item rounded p-4">
                        <div class="d-flex align-items-center mb-4">
                            <img class="img-fluid bg-white rounded flex-shrink-0 p-1" src="/static/core images/saheb passport.jpg"
                                style="width: 85px; height: 85px;">
                            <div class="ms-4">
                                <h5 class="mb-1">Sahebjeet Singh</h5>
                                <p class="mb-1">Creative Head</p>
                               
                            </div>
                        </div>
                        <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et
                            eos. Clita erat ipsum et lorem et sit.</p>
                    </div>
                    <div class="testimonial-item rounded p-4">
                        <div class="d-flex align-items-center mb-4">
                            <img class="img-fluid bg-white rounded flex-shrink-0 p-1" src="/static/core images/amar passport.jpg"
                                style="width: 85px; height: 85px;">
                            <div class="ms-4">
                                <h5 class="mb-1">Amarpreet Singh</h5>
                                <p class="mb-1">Event Management Head</p>
                                
                            </div>
                        </div>
                        <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et
                            eos. Clita erat ipsum et lorem et sit.</p>
                    </div>
                    <div class="testimonial-item rounded p-4">
                        <div class="d-flex align-items-center mb-4">
                            <img class="img-fluid bg-white rounded flex-shrink-0 p-1" src="/static/core images/ankur passport.jpg"
                                style="width: 85px; height: 85px;">
                            <div class="ms-4">
                                <h5 class="mb-1">Ankur Sharma</h5>
                                <p class="mb-1">Social Media Head</p>
                                
                            </div>
                        </div>
                        <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et
                            eos. Clita erat ipsum et lorem et sit.</p>
                    </div>
                    <div class="testimonial-item rounded p-4">
                        <div class="d-flex align-items-center mb-4">
                            <img class="img-fluid bg-white rounded flex-shrink-0 p-1" src="/static/core images/bisman passport.jpg"
                                style="width: 85px; height: 85px;">
                            <div class="ms-4">
                                <h5 class="mb-1">Bismanpal Singh</h5>
                                <p class="mb-1">General Secretary</p>
                                
                            </div>
                        </div>
                        <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et
                            eos. Clita erat ipsum et lorem et sit.</p>
                    </div>
                    <div class="testimonial-item rounded p-4">
                        <div class="d-flex align-items-center mb-4">
                            <img class="img-fluid bg-white rounded flex-shrink-0 p-1" src="/static/core images/divjot passport.jpg"
                                style="width: 85px; height: 85px;">
                            <div class="ms-4">
                                <h5 class="mb-1">Divjot Singh</h5>
                                <p class="mb-1">Social Media Head</p>
                                
                            </div>
                        </div>
                        <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et
                            eos. Clita erat ipsum et lorem et sit.</p>
                    </div>
                    <div class="testimonial-item rounded p-4">
                        <div class="d-flex align-items-center mb-4">
                            <img class="img-fluid bg-white rounded flex-shrink-0 p-1" src="/static/core images/chini passport.jpg"
                                style="width: 85px; height: 85px;">
                            <div class="ms-4">
                                <h5 class="mb-1">Ishdev Singh</h5>
                                <p class="mb-1">Treasurer</p>
                                
                            </div>
                        </div>
                        <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et
                            eos. Clita erat ipsum et lorem et sit.</p>
                    </div>
                    <div class="testimonial-item rounded p-4">
                        <div class="d-flex align-items-center mb-4">
                            <img class="img-fluid bg-white rounded flex-shrink-0 p-1" src="/static/core images/kiratpassport.jpg"
                                style="width: 85px; height: 85px;">
                            <div class="ms-4">
                                <h5 class="mb-1">Kirat Singh</h5>
                                <p class="mb-1">Creative Head</p>
                               
                            </div>
                        </div>
                        <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et
                            eos. Clita erat ipsum et lorem et sit.</p>
                    </div>
                    <div class="testimonial-item rounded p-4">
                        <div class="d-flex align-items-center mb-4">
                            <img class="img-fluid bg-white rounded flex-shrink-0 p-1" src="/static/core images/manav passport.jpg"
                                style="width: 85px; height: 85px;">
                            <div class="ms-4">
                                <h5 class="mb-1">Manav Panwar</h5>
                                <p class="mb-1">General Secretary</p>
                               
                            </div>
                        </div>
                        <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et
                            eos. Clita erat ipsum et lorem et sit.</p>
                    </div>
                    <div class="testimonial-item rounded p-4">
                        <div class="d-flex align-items-center mb-4">
                            <img class="img-fluid bg-white rounded flex-shrink-0 p-1" src="/static/core images/suraj passport.jpg"
                                style="width: 85px; height: 85px;">
                            <div class="ms-4">
                                <h5 class="mb-1">Suraj Singh</h5>
                                <p class="mb-1">PR Head</p>
                               
                            </div>
                        </div>
                        <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et
                            eos. Clita erat ipsum et lorem et sit.</p>
                    </div>
                    <div class="testimonial-item rounded p-4">
                        <div class="d-flex align-items-center mb-4">
                            <img class="img-fluid bg-white rounded flex-shrink-0 p-1" src="/static/core images/tejpal passport.jpg"
                                style="width: 85px; height: 85px;">
                            <div class="ms-4">
                                <h5 class="mb-1">Tejpal Singh</h5>
                                <p class="mb-1">Treasurer</p>
                               
                            </div>
                        </div>
                        <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et
                            eos. Clita erat ipsum et lorem et sit.</p>
                    </div>
                   
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->


        <!-- Contact Start -->
        <!-- <div class="container-xxl py-5" id="contact">
            <div class="container py-5 px-lg-5">
                <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                    <h5 class="text-primary-gradient fw-medium">Contact Us</h5>
                    <h1 class="mb-5">Get In Touch!</h1>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <div class="wow fadeInUp" data-wow-delay="0.3s">
                            <p class="text-center mb-4">The contact form is currently inactive. Get a functional and
                                working contact form with Ajax & PHP in a few minutes. Just copy and paste the files,
                                add a little code and you're done. <a href="https://htmlcodex.com/contact-form">Download
                                    Now</a>.</p>
                            <form>
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="name" placeholder="Your Name">
                                            <label for="name">Your Name</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="email" class="form-control" id="email"
                                                placeholder="Your Email">
                                            <label for="email">Your Email</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="subject" placeholder="Subject">
                                            <label for="subject">Subject</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <textarea class="form-control" placeholder="Leave a message here"
                                                id="message" style="height: 150px"></textarea>
                                            <label for="message">Message</label>
                                        </div>
                                    </div>
                                    <div class="col-12 text-center">
                                        <button class="btn btn-primary-gradient rounded-pill py-3 px-5"
                                            type="submit">Send Message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <----Contact End -->

    <!-- sponsors section start -->

    <!-- sponsors section end -->
        <!-- Footer Start -->
        <div class="container-fluid container-xxl bg-primary text-light footer wow fadeIn" data-wow-delay="0.1s">
            <!-- here in this i added container-xxl so it doesnt mismatch its width with containers -->
            <div class="container py-5 px-lg-5">
                <div class="row g-5">
                    <div class="col-md-6 col-lg-3 ">
                        <h4 class="text-white mb-4">Address</h4>
                        <p><i class="fa fa-map-marker-alt me-3"></i>G-8 Area, Rajouri Garden, New Delhi, Delhi 110064</p>
                        <p><i class="fa fa-phone-alt me-3"></i>+91 96502 35218 , 85888 33747</p>
                        <p><i class="fa fa-envelope me-3"></i>gamingtitans.gtbit@gmail.com</p>
                        <div class="d-flex pt-2">
                            <!-- <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a> -->
                            <!-- <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a> -->
                            <a class="btn btn-outline-light btn-social" href="https://www.instagram.com/gamingtitans.gtbit/?igshid=YmMyMTA2M2Y=" target="_blank"><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-outline-light btn-social" target="_blank" href="https://www.linkedin.com/in/gaming-titans-184598238/"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-outline-light btn-social" target="_blank" href="https://discord.com/invite/uyWPAUUK"><i class="fab fa-discord"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 ">
                        <h4 class="text-white mb-4">Quick Link</h4>
                        <a class="btn btn-link" href="/read">About Us</a>
                        <a class="btn btn-link" href="/contact">Contact Us</a>
                        <!-- <a class="btn btn-link" href="">Privacy Policy</a> -->
                        <!-- <a class="btn btn-link" href="">Terms & Condition</a> -->
                        <!-- <a class="btn btn-link" href="">Career</a> -->
                    </div>
                    <!-- <div class="col-md-6 col-lg-3 ">
                        <h4 class="text-white mb-4">Popular Link</h4>
                        <a class="btn btn-link" href="">About Us</a>
                        <a class="btn btn-link" href="">Contact Us</a>
                        <a class="btn btn-link" href="">Privacy Policy</a>
                        <a class="btn btn-link" href="">Terms & Condition</a>
                        <a class="btn btn-link" href="">Career</a>
                    </div> -->
                    <div class="col-md-6 col-lg-3 ">
                        <h4 class="text-white mb-4 ">Join Us</h4>
                        <p>Be a part of our Gaming Society now
                        </p>
                        <div class="position-relative w-100 mt-3">
                            <input class="form-control border-0 rounded-pill w-100 ps-4 pe-5" type="text"
                                placeholder="Your Email" style="height: 48px;">
                            <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"><i
                                    class="fa fa-paper-plane text-primary-gradient fs-4"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container px-lg-5">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom" href="/www.GamingTitans.com" target="_blank">Gaming Titans</a>, All Right Reserved.

                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            Ankur Sharma <a class="border-bottom" href="https://www.instagram.com/ankursharma5090/?igshid=YmMyMTA2M2Y=" target="_blank">Contact now</a>
                            </br>
                            Maintained By <a class="border-bottom" href="https://www.instagram.com/gamingtitans.gtbit/?igshid=YmMyMTA2M2Y="
                                target="_blank">Gaming Titans</a>
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <div class="footer-menu">
                                <a href="/">Home</a>
                                <!-- <a href="">Cookies</a> -->
                                <a href="/contact" target="_blank">Help</a>
                                <a href="https://www.instagram.com/gamingtitans.gtbit/?igshid=YmMyMTA2M2Y=" target="_blank">FQAs</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-lg-square back-to-top pt-2"><i class="bi bi-arrow-up text-white"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script src="app.js"></script>
</body>

</html>